<!DOCTYPE html>
<html>
<head>
  <title>HamsterBux</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% #unless action_name == 'index' && controller_name == 'welcome' %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <% if user_signed_in? %>
            <span class="navbar-brand" style="color: white;">Welcome, Hamster <b><%= current_user.name %></b>!</span>
            <ul class="nav navbar-nav navbar-right">

                <li>
                  <div class="bux-count-container"><%= image_tag 'seed.png', size: '25' %>
                  <span style="margin-left: 5px; color: white;"> <%= current_user.hamsterbux %></span>
                </div></li>
                <li style="margin-left:10px; color: white;"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
      <% else %>
          <span class="navbar-brand" style="color: white;">Hamster, please log in.</span>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Log In', new_user_session_path%></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          </ul>
      <% end %>
      </div>
    </nav>
<% #end %>
<%= yield %>

<%= image_tag 'hamster.gif' %>
</body>
</html>
